{% extends "blog/base.html" %}
{% block content %}

  {% for i in post %}
  

  <div class="col-md-4">
    <div class="thumbnail">
      <img src="/media/{{i.photo}}" alt="...">
      <div class="caption">
        <h3><a href="/blog/{{i.slug }}"> {{i.title}}</a></h3>
        <p>{{i.date}}</p>
        
      </div>
    </div>
  </div>

  {%endfor %}
{% endblock %}
<!-- sidebar

	{% block sidebar %}
        <div class="row">
            <div class="jumborton">
                 <h2>Recent Post</h2>
            </div>
    <div class="list-group">
        {% for p in recent_post %}
        <button type="button" class="list-group-item"><a href="/blog/{{p.slug }}"> {{p.title }}</a></button>
              {% endfor %}
    </div>
</div>
        <div class="row">
             {% if categories %}
            <h2>Categorie list</h2>
            <div class="list-group">
                 {% for category in categories %}
                    <button type="button" class="list-group-item"><a href="/blog/category/{{category.slug }}"> {{ category.name }}</a></button>
                    {% endfor %}

            </div>

        {% endif %}
        </div>


	{% endblock %}
-->



